.cont {
  margin: 20px;
}

.banner {
    background: url('../assets/banner.jpg') center center no-repeat;
    background-size: cover;
    min-height: 700px;
}

@media screen and (max-width: 990px) {
  .banner {
    background: url('../assets/banner_mobile.jpg') center center no-repeat;
    background-size: cover;
    min-height: 700px;
  }
}

.topNavCont {
  margin: 60px;
}

.Nav {
  color: white;
  font-size: 24px;
  margin: 10px;
}

.Nav:hover {
  text-decoration: underline #008080;
  cursor: pointer;
}

.header {
  color: white;
  margin-top: 200px;
}

.intro {
  color: #D3D3D3;
  font-size: 22px;
  margin-bottom: 150px;
}

.voteItms:nth-child(odd) {
  background-color: #E5E5E5;
}

.voteItms:hover {
  background-color: #90caf9;
  cursor: pointer;
}

.voteTally {
  color: #2196f3;
  background-color:#fff;
    border: 1px solid #fff;
    border-width: 7px;
    border-radius: 50%;
}

.tblHd {
  color: white;
  font-size: 20px;
}

.checkmark {
  height: 18px;
  width: 18px;
}

.form {
  background-color: #E5E5E5;
  margin: 20px;
}

.head {
  color: #727272;
}

.text {
  color: #727272;
  font-size: 18px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
